.italic {
    font-style: italic;
}
.bold {
    font-weight: 700;
}
.block {
    display: block;
}
.text-center {
    text-align: center;
}
.primary {
    color: $primary;
}
.overflow-hidden {
    overflow: hidden!important;
}
