.preload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-out;
    background-color: $background-color-primary;
    z-index: 1000;

    object {
        width: 18rem;
        max-width: 100%;
    }

    &.preload-finish {
      opacity: 0;
      pointer-events: none;
    }
}

// Your code here
.logo {
    display: flex;
    align-items: center;
    max-width: 25rem;
    z-index: 120;

    transition: filter .2s ease-in-out;
    &-text {
        margin-left: 1.2rem;
        margin-top: 1rem;
    }
    &:hover {
        filter: contrast(.5);
    }
}

.navbar {
    position: relative;
    padding: 3rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 43rem;
        flex: 1 1 20rem; 
        margin: 1rem 2rem;

        a {
            display: inline-block;
            font-weight: bold;
            font-size: 1.2rem;

            margin: 1rem;
            position: relative;
            &:before,
            &:after {
                content: '';
                position: absolute;
                bottom: -.3rem;
                height: 2px;


                background-color: none;
                transition: .3s ease-in-out;

                width: 0;
            }
            &:before {
                right: 50%;
            }
            &:after {
                left: 50%;
            }

            &:hover {
                &:before,
                &:after {
                    width: 50%;
                    background-color: $primary;
                }
            }
        }
        .active > a,
        .current-menu-item > a {
            &:before,
            &:after {
                width: 50%;
                background-color: $primary;
            }
        }

    }
    .info-block {
        display: flex;
        align-items: center;
    }
    .phone {
        font-weight: bold;
        font-size: 1.6rem;
        color: $heading-color;
        margin-right: 3rem;
    }
    .mobile-langs {
        display: none;
        opacity: 0;
        pointer-events: none;
        z-index: 120;

        transition: .6s cubic-bezier(0.4, 0.01, 0.02, 0.98);
    }

    @include lg-block() {
        .logo {
            &-text {
                max-width: 14rem;
            }
        }   
    }
    @media (max-width: $mobile-navbar) {
        .menu,
        .info-block {
            display: none;
        }
        &.active {
            .mobile-langs {
                opacity: 1;
                pointer-events: all;
            }
        }
        .mobile-langs {
            display: block;
        }
    }
    @include sm-block() {
        padding: 1.5rem 0;
        .logo {
            img {
                max-height: 5rem;
            }
        } 
    }
}
.langs  {
    display: flex;
    margin-right: -1rem;

    a {
        display: inline-block;
        margin: 1rem;

        font-weight: bold;
        font-size: 1.2rem;

        transition: .3s;

        &.active {
            color: $primary;
        }
        &:hover {
            filter: brightness(1.5);
        }
    }
}

//@include
#home-page {
    .header {
        padding-top: 3rem;
        padding-bottom: 3rem;
        position: relative;

        overflow: hidden;
        max-width: 100%;
        min-height: 78vh;

        .h1 {
            font-weight: bold;
            font-size: 9vh;
            margin-bottom: 3rem;
            @include md-block() {
                margin-bottom: 2rem;
            }
            @include xs-block() {
                font-size: 7vw;
            }
        }

        .custom-row {
            display: flex;
            flex-wrap: wrap;
            .col {
               
                &.c1 {
                    max-width: 61vh;
                }
                &.c2 {
                    flex: 1 1 47rem;
                    
                }
                @include md-block() {
                    &.c1 {
                        max-width: 100%;
                        width: 100%;
                        margin-top: -3rem;
                    }
                    &.c2 {
                        order: -1;
                    }
                }
            }
        }
        .devices {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            position: relative;
            transform: translateX(15%);
            z-index: 1;

            img {
                transform-origin: center;
            }
            .macbook,
            .ipad,
            .iphone {
                will-change: transform, scale, opacity;
            }
            .ipad-wrapper,
            .iphone-wrapper {
                position: absolute;
            }
            .ipad-wrapper { 
                top: 53%;
                left: 0;
                transform: translateY(-50%) translateX(-50%);
                width: 69vh;
            }
            .iphone-wrapper {
                right: 0;
                top: 40%;
                transform: translateY(-50%);
                width: 63vh;
            }
            
        }
        .rectangle {
            position: absolute;

            height: 50vh;
            left: 45%;
            right: -50%;
            top: 40%;
            transform: translateY(-50%);
            background-color: $primary;
            z-index: -1;
        }
        .decor {
            z-index: -1;
            &-big,
            &-small {
                position: absolute;
            }
            &-big {
                left: 0;
                bottom: 15%;
            }
            &-small {
                top: 7%;
                right: 11%;
            }
        }
        ul {
            margin-bottom: 6rem;
            font-size: 2rem;
        }
        @include lg-block() {   
            .devices {
                .ipad-wrapper { 
                    left: -2vw;
                    transform: translateY(-50%) translateX(-50%) scale(.6);
                }
                .iphone-wrapper {
                    transform: translateY(-50%) scale(.5);
                    right: -5vw;
                }
            }
            
        }
        @include md-block() {     
            .devices {
                transform: translateX(10%);
                .decor {
                    display: none;
                }         
                .ipad-wrapper { 
                    width: unset;
                    left: -3%;
                }
                .iphone-wrapper {
                    width: unset;
                    right: -28%;
                }
            }
            .rectangle {
                height: 50vw;
                left: 0%;
                right: 0;
                top: 25%;
            
            }
            ul {
                margin-bottom: 2rem;
                font-size: 1.4rem;
            }
        }
    }
}

.ul-primary {
    margin: 2rem 0;
    li {
        margin-left: 1.5rem;
        line-height: 1.8;

        position: relative;

        &:before {
            content: '+';
            display: inline-block;
            width: 1.5rem;
            margin-left: -1.5rem;
        }
    }
}
//Btns
.btn {
    display: inline-block;
    border: none;
    cursor: pointer;
    position: relative;
    background-color: none;
    z-index: 0;
    transition: .3s ease-in-out;

    &.btn-primary,
    &.btn-whatsapp,
    &.btn-black {
        font-weight: bold;
        color: $heading-color;

        padding: 2rem 1rem;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;

            height: 100%;
            width: 4.5rem;
            background-color: $primary;
            z-index: -1;

            transition: .6s cubic-bezier(0.4, 0.01, 0.02, 0.98);
        }
        &:after {
            content: url('../img/icons/btn-arrow.svg');
            display: inline-block;
            margin-left: 1rem;
            line-height: 0;
            vertical-align: middle;
            filter: $filter;
        }
        &:hover {
            &:before {
                width: 100%;
            }
        }
        &:active {
            &:before {
                transition: .2s ease-in-out;
                filter: brightness(.8);
            }
        }
    }
    &.btn-primary-mirrored {
        font-weight: bold;
        color: $heading-color;

        padding: 2rem 1rem;
        text-align: right;
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;

            height: 100%;
            width: 4.5rem;
            background-color: $primary;
            z-index: -1;

            transition: .6s cubic-bezier(0.4, 0.01, 0.02, 0.98);
        }
        &:before {
            content: url('../img/icons/btn-arrow.svg');
            display: inline-block;
            margin-right: 1rem;
            line-height: 0;
            vertical-align: middle;
            filter: $filter;
            transform: scaleX(-1);
        }
        &:hover {
            &:after {
                width: 100%;
            }
        }
        &:active {
            &:after {
                transition: .2s ease-in-out;
                filter: brightness(.8);
            }
        }
    }
    &.btn-whatsapp {
        &:before {
            background-color: $wa-color;
        }
    }
    &.btn-whatsapp-mobile {
        font-weight: bold;
        color: $heading-color;
        padding: 2.2rem 1rem;
        text-align: center;
        background-color: $wa-color;
        display: block;

        &:after {
            content: url('../img/icons/btn-arrow.svg');
            display: inline-block;
            margin-left: 1rem;
            line-height: 0;
            vertical-align: middle;
            filter: $filter;
        }
    }
    &.btn-black {
        &:before {
            background-color: $background-color-primary;
        }
    }
}
button {
    border: none;
    background: none;
}

svg {
    fill: $primary;
    max-width: 100%;

    .outline-border {
        opacity: .2;
       
        transition: .3s ease-in-out;

        transform-box: fill-box;
        transform-origin: center;

        animation: 12s linear infinite rotatingBorder;
    }

    .inline-border {                   
        transition: .3s ease-in-out;

        transform-box: fill-box;
        transform-origin: center;

        animation: 15s linear reverse infinite rotatingBorder;
    }
    .background-color {
        fill: $background-color-secondary;
    }
}

.bold ~ .ul-primary {
    margin-top: -1rem;
}
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .service {
        flex: 1 1 28rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem .5rem;
        transition: background .2s ease-in-out;

        border-right: 1px solid $border-color;
        &:last-child {
            border-right: none;
        }
        .icon {  
            margin-bottom: 5rem;
        }
        svg {
            height: 30rem;
        }
        ul {
            margin-bottom: 3rem;
        }
        &:hover {
            background-color: $background-color-primary;
            svg {
                .outline-border {
                    opacity: 1;
                }
            }
        }
    }
    @include lg-block() {
        .service {
            flex: 1 1 50%;
            border-right: none;
            .icon { 
                margin-bottom: 0;
            }

        }
    }
    @include xs-block() {
        .service {
            display: block;
            padding-top: 0;
            padding-bottom: 3rem;
            svg {
                height: 18rem;
            }
            p,
            li {
                font-size: 1rem;
            }
            .btn:after {
                display: none;
            }
        }
    }
    @media (max-width: $iphone-5) {
        .service {
            flex: 1 1 100%;
            display: flex;
        }   
    }
}  
@keyframes rotatingBorder {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotateZ(360deg);
    }
} 

.prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    @include lg-block() {
        justify-content: center;
    }

    &-block {
        cursor: pointer;
        flex: 1 1 41rem;
        padding: 2rem;
        max-width: 55rem;

        transition: background .2s ease-in-out;

        display: flex;
        flex-direction: column;

        .head {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            margin-left: -1rem;
            margin-right: -1rem;

            div {
                margin: 0 1rem 2rem 1rem;
            }
            .couple,
            .price {
                display: flex;
                align-items: center;
            }
        }
        .price {
            font-size: 36px;
            font-weight: bold;
            color: $primary;
        }
        .pound-sign {
            display: flex;
            align-items: center;
            &:before {
                content: "\00A3";
                font-weight: bold;
                font-size: 2.2rem;
                margin: 0 .5rem;
            }
        }
        .img-wrapper {
            overflow: hidden;
            width: 100%;
            max-height: 32rem;
            margin-bottom: 3rem;
            img {
                transition: 2s cubic-bezier(0.4, 0.01, 0.02, 0.98);
            }
        }
        .body {
            display: flex;
            flex-direction: column;

            .ul-primary {
                margin-top: 0;
                margin-bottom: 3rem;
            }
           
        }
        .btn {
            margin-top: auto;
            align-self: flex-start;
        }

        &:hover{
            background-color: $background-color-secondary;
            img {
                transform: scale(1.2);
            }
        }
        @include xs-block() {
            padding: 0;
            margin-bottom: 3rem;
            .head .h3 {
                font-size: 1.8rem;
            }
            .price {
                font-size: 2.2rem;
            }
            &:hover{
                background-color: none;
            }
        }
    }
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 2rem 0;
    margin: 0 -1rem;
    margin-bottom: 13rem;

    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    .technology {
        margin: 3rem 1rem;
        filter: $brand-color;
        transition: filter .3s ease-in-out;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            filter: saturate(1);
        }
        
    }
    @include lg-block() {
        .technology {
            margin: 1rem;
        }
    }
    @include md-block() {
        margin-bottom: 5rem;
        .technology {
            flex: 1 1 15%;
        }
    }
}

.projects {
    margin-bottom: 2rem;
    .project {
        @include col();
        @include size(4);
        @include size-md(6);
        @include size-xs(12);
    }
}
.project {
    margin-bottom: 4rem;
    position: relative;
    z-index: 0;

    .h3 {
        margin-bottom: 1rem;
    }
    .img-wrapper {
        overflow: hidden;
        width: 100%;
        max-height: 32rem;
        img {
            transition: 2s cubic-bezier(0.4, 0.01, 0.02, 0.98);
        }
    }
    .couple {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: .5rem -1rem;

        .link,
        .small {
            margin: 0 1rem;
        }
        .small {
            text-align: right;
            margin-left: auto;
        }
    }
    &:hover{
        img {
            transform: scale(1.2);
        }
    }
}
a.primary {
    font-weight: bold;
}
.link {
    color: $primary;
    border-bottom: 1px solid $primary;
    cursor: pointer;
    &:hover {
        border-color: transparent;
    }
}
.small {
    font-size: 1.2rem;
}

.features {
    margin-bottom: -5rem;
    .feature {
        @include col();
        @include size(4);
        @include size-lg(6);
        @include size-xs(12);

        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
        margin-bottom: 3rem;
        position: relative;
       
        .icon {
            height: 11rem;
            width: 11rem;
            margin-right: 3rem;
            margin-bottom: 2rem;
            svg {
                width: 100%;
                height: 100%;
            }
        }
        .text {
            flex: 1 1 23rem;

            display: flex;
            flex-direction: column;  
        }
        .btn {
            align-self: flex-start;
            margin-top: auto;
            opacity: 0;
            transform: scale(.5);
            transition: .6s .2s ease-in-out;
            transform-origin: left;
        }

        &:hover {
            background-color: $background-color-primary;
            svg {
                .outline-border {
                    opacity: 1;
                }
            }
            .btn {
                opacity: 1;
                transform: scale(1);
            }
        }

        @include sm-block() {
            background-color: $background-color-primary;
            .btn {
                opacity: 1;
                transform: scale(1);
            }
            .icon {
                height: 5rem;
                width: 5rem;
                margin-right: 2rem;
                margin-bottom: 2rem;
                position: absolute;
                right: 0;
                bottom: 0;
            }
            .text {
                padding-bottom: 4rem;
            }
        }
    }
}

#about {
    position: relative;
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .column-info {
        @include col();
        @include size(6);
        @include size-lg(7);
        @include size-md(12);

        position: relative;
    }
    .column-map {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
        min-height: 25rem;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    .h2 {
        text-align: left;
        margin-bottom: 10rem;
    }
    .info-with-icon {
        max-width: 81rem;
    }
    .background {
        position: absolute;
        opacity: .2;
        height: 100%;
        right: 5rem;
    }
    @include lg-block() {
        .h2 {
            margin-bottom: 6vw;
        }
        .column-map {
            left: 59%;
        }
    }
    @include md-block() {
        .h2 {
            margin-bottom: 6vw;
        }
        .column-map {
            @include col();
            @include size(12);
            position: static;
        }
    }
}
.info {
    .info-with-icon:last-child {
        border-bottom: none;
    }
    .info-with-icon {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid $border-color;
        .icon {
            width: 5rem;
            height: 5rem;
            margin-bottom: 3rem;
            margin-right: 3rem;
            img {
                max-height: 100%;
            }
        }
        .text {
            flex: 1 1 30rem;
        }
        p {
            margin-bottom: 5px;
        }
        .small {
            margin-top: 10px;
        }
        @include sm-block() {
            .h3 {
                margin-right: 4rem;
            }
            .icon {
                width: 3rem;
                height: 3rem;
                margin-bottom: 0;
                margin-right: 0;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
}


///
.switcher-box {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    span:first-child {
        margin-right: 1rem;
    }
    span:last-child {
        margin-left: 1rem;
    }

    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    
    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 30px;
        background: $heading-color;
        display: block;
        border-radius: 100px;
        position: relative;
    }
    
    label:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 21px;
        height: 21px;
        background: $background-color-primary;
        border-radius: 90px;
        transition: 0.3s;
    }
    
    input:checked + label {
        background: $primary;
        &:after {
            left: calc(100% - 5px);
            transform: translateX(-100%);
        }
    }
    
    label:active:after {
        width: 30px;
    }
}


#consult {
    background-color: $primary;
    padding: 5rem 0;
    .h2 {
        margin-bottom: 3rem;
    }
    .couple {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin: -2rem 0;  
    }
    .btn {
        margin: 2rem 5rem;
    }

    @include sm-block() {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .btn {
            margin-left: 0;
            margin-right: 0;
        }
        .couple {
            flex-direction: column;
        }
    }
}

.footer {
    padding-top: 8rem; 
    .col {
        @include col();

        margin-bottom: 2rem;
        &.col-1 {
            @include size(4);
            @include size-md(6);

            .h3 {
                margin-bottom: 1rem;
            }
            @include size-sm(12);
        }
        &.col-2 {
            @include size(3);
            @include size-md(6);
            @include size-sm(12);
        }
        &.col-3 {
            @include size(3);
            @include size-md(6);
        }
        &.col-4 {
            @include size(2);
            @include size-md(6);
        }
    }
    .h3 {
        margin-bottom: 3rem;
        @include sm-block() {
            font-size: 1.6rem;
            margin-bottom: 2rem;
        }
    }
    ul.links {
        li {
            img {
                margin-right: 1rem;
            }
            color: $primary;
            font-weight: bold;
            margin-bottom: 1.4rem;
        }
    }
    .menu {
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 2;
    }
    .primary-menu {
        font-size: 2.2rem;
        font-weight: bold;
        color: $heading-color;
        li {
            line-height: 1;
            margin-bottom: 4rem;
        }
        @include sm-block() {
            font-size: 1.3rem;

            display: flex;
            margin: -1rem;
            flex-wrap: wrap;
            li {
                
                margin: 1rem;
            }
        }
    }
    .logo {
        margin-bottom: 2rem;
    }
    .foot {
        display: block;
        text-align: center;
        font-size: 1.3rem;

        padding-top: 3rem;
        padding-bottom: 3rem;
        a {
            color: $heading-color;
        }
    }
    @include xs-block() {
        padding-top: 4rem;
        .col-2 {
            order:1;
        }
        .foot {
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 1rem;
        }
    }
}

//For lazy styles
.img-wrapper {
    background: #CCC;
    overflow: hidden;
}

//mobile menu
.mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 105;
    background: $background-color-primary;

    opacity: 0;
    pointer-events: none;

    transition: opacity .6s cubic-bezier(0.4, 0.01, 0.02, 0.98);
    will-change: opacity;

    .background {
        opacity: .2;
        position: absolute;
        top: 50%;
        right: 0%;
        width: 30rem;
        max-width: 80%;
        transform: translate(50%, -50%);
        z-index: -1;
    }
    &.active {
        opacity: 1;
        pointer-events: all;
    }

    .body {
        margin-top: 6rem;
        flex: 1 1 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .menu {
            font-size: 2.4rem;
            font-weight: bold;
            
            li {
                margin-bottom: 2rem;
                &.current-menu-item {
                    color: $heading-color;
                }
            }
        }
    }
    .btn-whatsapp-mobile {
        margin-top: 2rem;
    }
    .phone {
        display: inline-block;
        font-weight: bold;
        font-size: 2.4rem;
        color: $primary;
    }
    .foot {
        margin-top: auto;
        width: 100%;
        text-align: center;
    }
}

// Modal
.modal {
    display: none;

    width: 97rem;
    padding: 0;
    background-color: $background-color-primary;

    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.25);

    .input-wrapper textarea {
        min-height: 8rem;
    }
    .custom-row {
        display: flex;
        flex-wrap: wrap;
    }
    .column-about {
        flex: 2 1 30rem;
        background-color: #fff;
        .h2 {
            color: #242424;
        }
        .text {
            padding: 5rem 5rem 0 5rem;
        }
        .image {
            width: 100%;
            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }
    .column-form {
        flex: 4 1 35rem;
        background-color: $background-color-primary;
        padding: 5rem;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    form {
        width: 100%;
        text-align: center;
       
    }
    .btns {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: -1rem -2rem;
        .btn {
            font-size: 1.6rem;
            background: none;
            margin: 2rem 2rem 1rem 2rem;
        }
    }
    .privacy-text {
        margin-top: 6rem;
    }

    &.active {
        display: block;
    }
    @include sm-block() {
        .btns {
            margin: 0 -1rem;
            .btn {
                font-size: 1.5rem;
                margin-top: 0;
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
        .column-about {
            .text {
                padding: 3rem 3rem 0 3rem;
            }
            .image {
                display: none;
            }
        }
        .column-form {
            padding: 2rem 3rem;
            border: 1px solid $heading-color;
        }
        .privacy-text {
            margin-top: 1rem;
        }
    }
    @media (max-width: $iphone-5) {
        .btns {
            margin: 0 -5rem;
            .btn {
                margin-left: 0.5rem;
                margin-right: .5rem;
                font-size: 1.3rem;
            }
        }
    }
}
.privacy-text {
    font-size: 1rem;
    display: block;
    cursor: pointer;
    a {
        color: $primary;
    }
}

////////////////////////////////////
.breadcrumbs {
    background-color: $primary;
    &-wrapper {
        min-height: 4rem;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        a {
            font-weight: bold;
            color: $heading-color;
            text-decoration: underline;
        }
        span {
            color: #7E704D;
        }
    }
}

#single {
    .heading {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .title,
        .description {
            margin-bottom: 3rem;
        }
        .title {
            flex: 1 1 40rem;
        }
        .subtitle {
            font-size: 2rem;
        }
        @include sm-block() {
            h1 {
                margin-bottom: .5rem;
            }
            .subtitle {
                font-size: 1.8rem;
            }
        }
        .description {
            min-width: 30rem;
        }
    }
    .values {
        font-size: 1.3rem;
        display: flex;
        margin-bottom: 0.5rem;
        .name {
            margin-right: 2rem;
            min-width: 10rem;
        }
        .property {
            color: $heading-color;
        }
        a {
            color: $primary;
        }
    }

    .main-image {
        width: 100%;
        margin-bottom: 7rem;
        img {
            width: 100%;
        }
    }
    .mockup-image {
        width: 100%;
        margin-top: 4rem;
        display: block;
        img {
            width: 100%;    
        }
    }
    .like-this {
        margin-top: 5rem;
        text-align: center;
        .link {
            display: inline;
        }
    }
    @include sm-block() {
        .main-image {
            margin-bottom: 3rem;
        }
        .mockup-image {
            margin-top: 1rem;
        }
        .like-this {
            margin-top: 3rem;
            .h2{
                font-size: 1.7rem;
            }
        }
    }
   
}
.post-navigation {
    margin-top: 5rem;
    .screen-reader-text {
        display: none;
    }
    .nav-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -1.5rem;
    }
    .btn {
        margin: 1.5rem;
    }
    @include xs-block() {
        .nav-links {
            margin: -1rem;
            .btn-primary:after,
            .btn-primary-mirrored:before {
                display: none;
            }
        }
        .btn {
            margin: 1rem;
            font-size: 1.2rem;        
        }
    }
}
.project-features {
    @include row-flex();

    .project-feature {
        @include col();
        @include size(3);
        @include size-sm(6);

        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 3rem;
        img {
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: 0;
        }
    }
}

.archive-main {
    background: url('../img/archive/dots-circle.png') top center;
    background-repeat: repeat-y;

    padding-top: 5rem;
    padding-bottom: 13rem;
    @include sm-block() {
        padding-bottom: 6rem;
    }
    .header {
        text-align: center;
        padding-bottom: 5rem;
    }
    .tabs-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-bottom: 1px solid $border-color;
        a {
            display: inline-block;
            padding: .5rem 1rem;
            margin: 0 1rem;
            font-weight: bold;
            border-bottom: 3px solid transparent;
            &.active {
                color: $primary;
                border-color: $primary;
            }
        }
        @include xs-block() {
            font-size: 1.1rem;
            a {
                padding: .5rem;
                margin: .2rem .5rem;
            }
        }
    }

    .single-container{
        max-width: 1250px;
    }
    .archive-portfolio {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        &:before {
            content: '';
            height: 100%;
            width: 1px;
            background-color: $border-color;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
        }
    }
    .bordered {
        flex: 1 1 40rem;
        border-bottom: 1px solid $border-color;
        margin-bottom: 5rem;
        padding-bottom: 1rem;

        &:nth-child(even) {
            .project {
                margin-left: auto;
                padding-left: 2rem;
            }
        }
        &:nth-child(odd) {
            .project {
                padding-right: 2rem;
            }
        }
        &:last-child,
        &:nth-last-child(-n+2) {
            border: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
    .project {
        max-width: 55rem;
        
    }
    @include lg-block() {
        .bordered {
            margin-bottom: 2rem;
        }
    }
    @include md-block() {
        .archive-portfolio {
            &:before {
                display: none;
            }
            .bordered {
                border: none;
                margin-bottom: 0;
                padding-bottom: 0;
                .project {
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

#contacts-page {
    #about {
        background-color: $background-color-secondary;
    }
}
#contacts {
    text-align: center;
    .row {
        align-items: center;
        justify-content: center;
        .column-about,
        .column-img {
            @include col();
            @include size(6);
            @include size-lg(12);
        }
    }
}

.quotes {
    
    text-align: center;
    p {
        line-height: 1.9;
    }
    &:before,
    &:after {
        content: '';
        display: block;
        margin-bottom: 3rem;

        height: 37px;
        width: 100%;
        background-image: url('../img/icons/quotes.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &:after {
        transform: scaleY(-1);
    }
}

//////////////
/* для элемента input c type="checkbox" */
.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $primary;
    border-radius: 0;
    margin-right: 0.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    vertical-align: middle;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox>input:checked+span::before {
    border-color: $primary;
    background-color: $primary;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox>input:disabled+span::before {
    background-color: #e9ecef;
}

.big-form {
    padding-top: 5rem;
    padding-bottom: 10rem;

    background-color: $background-color-secondary;

    .h2 {
        text-align: left;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    .btn {
        align-self: flex-start;
    }
    form {
        max-width: 1140px;
        margin: auto;

        display: flex;
        flex-direction: column;
    }
    .footnote {
        font-size: 1rem;
        margin-bottom: 2rem;
        color: #555555;
        span {
            color: $font-color!important;
        }
    }

    .custom-checkbox {
        margin-left: 3rem;
        margin-bottom: 1rem;
    }
    .custom-checkbox.small {
        margin-left: 2.2rem;
    }
    .custom-checkbox > input+span {
        color: $font-color;
        
        &:before {
            background-color: $input-bg;
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
            margin-left: -3rem;
            border-color: transparent;
        }
    }
    .custom-checkbox > input:checked+span {
        opacity: 1;
        color: $heading-color;
        &:before {
            background-color: $primary;
        }
    }
    .custom-checkbox.small>span::before {
        width: 1.2rem;
        height: 1.2rem;
        margin-left: -2.2rem;
    }
    .custom-checkbox.small>span {
        font-size: 1rem;
    }

    @include sm-block() {
        background: none;
        padding-bottom: 0;
        .h2 {
            margin-top: 2rem;
        }
    }
}
.checkbox-row {
    margin-bottom: 2rem;

    display: flex;
    flex-wrap: wrap;

    .custom-checkbox {

        flex: 1 1 40rem;
        margin-bottom: 1.5rem;
    }
    label {
        font-size: 1.3rem;  
        display: block;
        width: 100%;
        margin-bottom: 2rem;
    }
}

.input-row {
    display: flex;
    flex-wrap: wrap;

    margin-left: -1rem;
    margin-right: -1rem;
    .input-wrapper {
        flex: 1 1 20rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.input-wrapper {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    label {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    input,
    textarea,
    select {
        padding: 1.6rem 2rem;
        border: none;
        width: 100%;
        background: $input-bg;
        color: $heading-color;
    }
    textarea {
        resize: vertical;
        min-height: 12rem;
        max-height: 30rem;
    }
}

.radio-row {
    display: flex;
    label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
      
        margin: 16px;
      
        cursor: pointer;
        position: relative;

        font-size: 15px;
        &:first-child {
            margin-left: 0;
        }
    }
    input[type="radio"] {
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    .text,
    .custom-radio {
        opacity: .5;
    }
    input[type="radio"]:checked + .custom-radio {
        box-shadow: 0 0 0 2px $primary;
    }
    input[type="radio"]:checked + .custom-radio::before {
        transform: scale(1);
    }
    input[type="radio"]:checked + .custom-radio + .text,
    input[type="radio"]:checked + .custom-radio {
        opacity: 1;
    }
}

.custom-radio {
    width: 18px;
    height: 18px;
  
    box-shadow: 0 0 0 2px #C4C4C4;

    border: 3px solid $background-color-secondary;
    border-radius: 100%;
    margin-right: 1rem;
  
    position: relative;
    &:before {
        content: "";
        display: block;
        
        width: 100%;
        height: 100%;
        
        border-radius: inherit;
        
        position: absolute;
        transform: scale(0);
        transform-origin: center center;
    
        background-color: $primary;
        transition: .3s;
    }
}

.attachment {
    margin-bottom: 3rem;
    &-area {
        position: relative;
        width: 100%;
        min-height: 30rem;
        border: 2px dashed $input-bg;
        margin-bottom: 1rem;

        transition: .3s ease-in-out;

        input {
            width: 100%;
            height: 100%;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 0;
            cursor: pointer;
        }
        .area-text {
            padding: 2rem;
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        img {
            margin-bottom: 1rem;
        }
        .h4 {
            color: $font-color;
            font-weight: normal;
            margin-bottom: 0;
        }
        &:hover {
            border-color: $primary;
        }
    }
    &-list {
        width: 100%;
        height: 100%;
        color: $heading-color;
        font-size: 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.p404 {
    h1 {
        margin-bottom: 0;
    }
}

// Cookie alert styles
.cookie-alert {
  transform: translateY(100%);
  transition: .8s cubic-bezier(0.4, 0.01, 0.02, 0.98);
  
  position: fixed;
  z-index: 99;
  background: $input-bg;
  padding: 10px 15px;
  
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  width: 100%;
  
  font-size: 12px;
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  &.not-accepted {
      transform: none;
  }
  &__text {
    margin: .5rem;
    flex: 1 1 300px;
    a {
      color: $primary;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__btn {
      color: $heading-color;
      margin: .5rem;
      text-transform: uppercase;
      font-weight: 700;
      padding: 10px 30px;
      border: 1px solid $primary;
      transition: .3s ease-in-out;
      cursor: pointer;
      text-align: center;
      background: none;
    &:hover {
      background-color: $primary;
    }
  }
  @media (max-width: 500px) {
    &__btn {
       width: 100%;
    }
  }
}

#cost-page {
    .features {
       margin-bottom: -10rem;
       @include md-block() {
           margin-bottom: -5rem;
       }
    }
}