.preload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-out;
    background-color: $background-color-primary;
    z-index: 1000;
    object {
        width: 18rem;
        max-width: 100%;
    }

    &.preload-finish {
      opacity: 0;
      pointer-events: none;
    }
}

// Your code here
.logo {
    display: flex;
    align-items: center;
    max-width: 25rem;
    &-text {
        margin-left: 1.2rem;
        margin-top: 1rem;
    }
}

.navbar {
    position: relative;
    padding: 3rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 43rem;
        flex: 1 1 20rem; 
        margin: 1rem 2rem;

        a {
            display: inline-block;
            font-weight: bold;
            font-size: 1.2rem;

            margin: 1rem;
            position: relative;
            &:before,
            &:after {
                content: '';
                position: absolute;
                bottom: -.3rem;
                height: 2px;


                background-color: none;
                transition: .3s ease-in-out;

                width: 0;
            }
            &:before {
                right: 50%;
            }
            &:after {
                left: 50%;
            }

            &:hover {
                &:before,
                &:after {
                    width: 50%;
                    background-color: $primary;
                }
            }
        }
        .active > a,
        .current-menu-item > a {
            &:before,
            &:after {
                width: 50%;
                background-color: $primary;
            }
        }

    }
    .info-block {
        display: flex;
        align-items: center;
    }
    .phone {
        font-weight: bold;
        font-size: 1.6rem;
        color: $heading-color;
        margin-right: 3rem;
    }
    .langs  {
        display: flex;
        margin-right: -1rem;

        a {
            display: inline-block;
            margin: 1rem;

            font-weight: bold;
            font-size: 1.2rem;

            transition: .3s;

            &.active {
                color: $primary;
            }
            &:hover {
                filter: brightness(1.5);
            }
        }
    }

    @include lg-block() {
        .logo {
            &-text {
                max-width: 14rem;
            }
        }

        
    }
    @media (max-width: $mobile-navbar) {
        .menu,
        .info-block {
            display: none;
        }
    }
    @include sm-block() {
        padding: 1.5rem 0;
        .logo {
            img {
                max-height: 5rem;
            }
        } 
    }
}

//@include
#home-page {
    .header {
        padding: 3rem 0 5rem;
        position: relative;

        overflow-x: hidden;
        max-width: 100%;

        .h1 {
            font-weight: bold;
            font-size: 9vh;
            margin-bottom: 3rem;
            @include md-block() {
                margin-bottom: 2rem;
            }
            @include xs-block() {
                font-size: 11vw;
            }
        }

        .custom-row {
            display: flex;
            flex-wrap: wrap;
            .col {
               
                &.c1 {
                    max-width: 61vh;
                }
                &.c2 {
                    flex: 1 1 47rem;
                    
                }
                @include md-block() {
                    &.c1 {
                        max-width: 100%;
                        width: 100%;
                    }
                    &.c2 {
                        order: -1;
                    }
                }
            }
        }
        .devices {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            position: relative;
            transform: translateX(15%);
            z-index: 1;

            .ipad,
            .iphone {
                position: absolute;
            }
            .ipad { 
                top: 53%;
                left: 0;
                transform: translateY(-50%) translateX(-50%);
                width: 69vh;
                @include lg-block() {          
                    transform: translateY(-50%) translateX(-50%) scale(.7);
                }
            }
            .iphone {
                right: 0;
                top: 40%;
                transform: translateY(-50%);
                width: 63vh;
                @include lg-block() {          
                    transform: translateY(-50%) scale(.7);
                }
            }
            
        }
        .rectangle {
            position: absolute;

            height: 50vh;
            left: 45%;
            right: -50%;
            top: 40%;
            transform: translateY(-50%);
            background-color: $primary;
            z-index: -1;
        }
        .decor {
            z-index: -1;
            &-big,
            &-small {
                position: absolute;
            }
            &-big {
                left: 0;
                bottom: 15%;
            }
            &-small {
                top: 7%;
                right: 11%;
            }
        }
        ul {
            margin-bottom: 6rem;
        }

        @include md-block() {      
            .devices {
                transform: translateX(10%);
                .decor {
                    display: none;
                }         
                .ipad { 
                    left: -3%;
                }
                .iphone {
                    right: -11%;
                }
            }
            .rectangle {
                height: 50vw;
                left: 0%;
                right: 0;
                top: 20%;
            
            }
            ul {
                margin-bottom: 2rem;
            }
        }
    }
}

.ul-primary {
    margin: 2rem 0;
    li {
        font-size: 2rem;
        margin-left: 1.5rem;
        line-height: 160%;

        position: relative;

        &:before {
            content: '+';
            display: inline-block;
            width: 1.5rem;
            margin-left: -1.5rem;
        }
    }
}
//Btns
.btn {
    display: inline-block;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: .3s ease-in-out;

    &.btn-primary {
        font-weight: bold;
        color: $heading-color;

        padding: 2rem 1rem;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;

            height: 100%;
            width: 4.5rem;
            background-color: $primary;
            z-index: -1;

            transition: .6s cubic-bezier(0.4, 0.01, 0.02, 0.98);
        }
        &:after {
            content: url('../img/icons/btn-arrow.svg');
            display: inline-block;
            margin-left: 1rem;
            line-height: 0;
            vertical-align: middle;
            filter: $filter;
        }
        &:hover {
            &:before {
                width: 100%;
            }
        }
        &:active {
            &:before {
                transition: .2s ease-in-out;
                filter: brightness(.8);
            }
        }
    }
}

///
.switcher-box {
    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    
    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 30px;
        background: $heading-color;
        display: block;
        border-radius: 100px;
        position: relative;
    }
    
    label:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 21px;
        height: 21px;
        background: $background-color-primary;
        border-radius: 90px;
        transition: 0.3s;
    }
    
    input:checked + label {
        background: $primary;
        &:after {
            left: calc(100% - 5px);
            transform: translateX(-100%);
        }
    }
    
    label:active:after {
        width: 30px;
    }
}


// centering
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

//For lazy styles
.img-wrapper {
    background: #CCC;
    overflow: hidden;
}
.lazy-blur {
    filter: blur(25px);
    transform: scale(1.4);
}
.no-blur {
    filter: blur(0);
    transform: scale(1);
    transition: filter .6s ease-in, transform .8s ease-in-out;
}

// Modal
.modal {
    display: none;
}
