html {
    --heading-color: #FFFFFF;
    --font-color: #999999;

    --background-color-primary: #242424;
    --background-color-secondary: #1E1E1E;
    --selection: #ffe7aa1c;
    --border-color: rgba(255, 255, 255, 0.1);
    --input-bg: #343434;

    --primary: #D8BC75;

    --filter: brightness(1);
    --brand-color: saturate(0);

    &[data-theme='light'] {
        --heading-color: #242424;
        --font-color: #999999;
        
        --background-color-primary: #FFFFFF;
        --background-color-secondary: #FAFAFA;

        --border-color: rgba(0, 0, 0, 0.1);
        --input-bg: #eaeaea;

        --filter: brightness(0);
        --brand-color: saturate(0) invert(1) brightness(0.6);
    }
}

$heading-color: var(--heading-color);
$font-color: var(--font-color);

$background-color-primary: var(--background-color-primary);
$background-color-secondary: var(--background-color-secondary);
$selection: var(--selection);
$border-color: var(--border-color);
$input-bg: var(--input-bg);

$primary: var(--primary);

$filter: var(--filter);
$brand-color:  var(--brand-color);

$wa-color: #66A615;

// Breakpoints
$mobile-navbar: 1000px;
$iphone-5: 339px;
