html {
    --heading-color: #FFFFFF;
    --font-color: #999999;

    --background-color-primary: #242424;
    --background-color-secondary: #1E1E1E;
    --selection: #ffe7aa1c;

    --primary: #D8BC75;

    --filter: brightness(1);

    &[data-theme='light'] {
        --heading-color: #242424;
        --font-color: #999999;
        
        --background-color-primary: #FFFFFF;
        --background-color-secondary: #FAFAFA;

        --filter: brightness(0);
    }
}

$heading-color: var(--heading-color);
$font-color: var(--font-color);

$background-color-primary: var(--background-color-primary);
$background-color-secondary: var(--background-color-secondary);
$selection: var(--selection);

$primary: var(--primary);

$filter: var(--filter);

// Breakpoints
$mobile-navbar: 1000px;
$iphone-5: 339px;
